@model IList<NLI_POS.Models.Order>


<div class="table-responsive">
    <table class="table table-bordered table-hover shadow-sm rounded bg-white">
        <thead class="table-primary text-center">
            <tr>
                <th>Item #</th>
                <th>Category</th>
                <th>Item(s)</th>
                <th>Sub-Item(s)</th>
                <th class="text-end">@Html.DisplayNameFor(model => model[0].Price)</th>
                <th class="text-end">@Html.DisplayNameFor(model => model[0].Qty)</th>
                <th class="text-end">@Html.DisplayNameFor(model => model[0].Amount)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemNo</td>
                    <td>@item.Products.ProductCategory</td>
                    <td>@item.Products.ProductName</td>
                    <td>@item.ProductCombos?.ProductsDesc</td>
                    <td class="text-end">@item.Price?.ToString("N2")</td>
                    <td class="text-end">@item.Qty?.ToString("0")</td>
                    <td class="text-end">@item.Amount?.ToString("N2")</td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot class="table-light fw-bold">
            <tr>
                <td colspan="4" class="text-end">Total:</td>
                <td class="text-end">@Model.Sum(i => i.Price ?? 0).ToString("N2")</td>
                <td class="text-end">@Model.Sum(i => i.Qty ?? 0).ToString("0")</td>
                <td class="text-end">@Model.Sum(i => i.Amount ?? 0).ToString("N2")</td>
                <td></td>
            </tr>
            @{
                decimal refNoValue = decimal.TryParse(Model.First().RefNo?.ToString(), out var r) ? r : 0;
                var totalAmount = Model.Sum(i => i.Amount ?? 0);
                var change = refNoValue - totalAmount;
                var paymentmode = @Model.First().PaymentMethod;
            }
            <tr class="table-light">
                @if (paymentmode.ToLower() == "cash")
                {
                    <td colspan="6" class="text-end">Payment Mode: @paymentmode </td>
                    <td class="text-end">@refNoValue.ToString("N2")</td>
                }
                else
                {
                    <td colspan="6" class="text-end">Payment Mode: @paymentmode (Reference #: @refNoValue) </td>
                }
                <td></td>
            </tr>

            @if (paymentmode.ToLower() == "cash")
            {
                <tr class="table-light">
                    <td colspan="6" class="text-end">Change:</td>
                    <td class="text-end">@change.ToString("N2")</td>
                    <td></td>
                </tr>
            }
        </tfoot>
    </table>
</div>
