@page
@model NLI_POS.Pages.Offices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OfficeCountry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.ContactNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.isActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.isActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.EncodeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.EncodeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.EncodedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.EncodedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.UpdateddBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.UpdateddBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeCountry.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeCountry.Country.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OfficeCountry.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
