@page
@model NLI_POS.Pages.Offices.IndexModel

@{
    ViewData["Title"] = "Offices";
}
<div class="container-fluid bg-white bg-gradient  shadow p-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0 text-primary">
            <i class="fas fa-map-marked-alt"></i> @ViewData["Title"]
        </h4>
        <i class="fas fa-window-close fa-2xl text-danger" role="button" title="Close" onclick="window.location = './Index';"></i>
    </div>
    <hr />

    <p>
        <a class="btn btn-primary" asp-page="Create"><i class="fas fa-plus-square"></i> Add New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OfficeCountry[0].Name)
                </th>
                @*             <th>
                @Html.DisplayNameFor(model => model.OfficeCountry[0].Address)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.OfficeCountry[0].Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficeCountry[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficeCountry[0].ContactNo)
                </th>
                @*             <th>
                @Html.DisplayNameFor(model => model.OfficeCountry[0].Remarks)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.OfficeCountry[0].isActive)
                </th>
                @*             <th>
                @Html.DisplayNameFor(model => model.OfficeCountry[0].EncodeDate)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.OfficeCountry[0].EncodedBy)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.OfficeCountry[0].UpdateDate)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.OfficeCountry[0].UpdateddBy)
                </th> *@

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OfficeCountry)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNo)
                    </td>
                    @*                 <td>
                @Html.DisplayFor(modelItem => item.Remarks)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.isActive)
                    </td>
                    @*               <td>
                @Html.DisplayFor(modelItem => item.EncodeDate)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.EncodedBy)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.UpdateddBy)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Country.Id)
                </td> *@
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>