@page
@model NLI_POS.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ItemNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].EncodeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].EncodedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].UpdateddBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Office)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncodeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncodedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateddBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
