@page
@model NLI_POS.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "";
}

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.ProductCode)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.ProductCategory)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.ProductCategory)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.SKU)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.SKU)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.UnitCost)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.UnitCost)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.RegPrice)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.RegPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.MemPrice)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.MemPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.StaffPrice)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.StaffPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.IsActive)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.IsActive)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.EncodeDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.EncodeDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.EncodedBy)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.EncodedBy)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.UpdateDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.UpdateDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.UpdateddBy)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.UpdateddBy)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Product.ProductTypes)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Product.ProductTypes.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
