@page
@model NLI_POS.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}
<div class="container-fluid bg-white bg-gradient  shadow p-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0 text-primary">
            <i class="fas fa-users"></i> Customers
        </h4>
        <i class="fas fa-window-close fa-2xl text-danger" role="button" title="Close" onclick="window.location = '../Index';"></i>
    </div>
    <hr />
    <p>
        <a class="btn btn-primary btn-gradient" asp-page="Create"><i class="fas fa-user-plus"></i> Add Customer</a>
    </p>

    <table id="customerTable" class="table table-striped table-sm">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].CustCode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].FirstName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].LastName)
                </th>

                <th>
                    Contact Number(s)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].City)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].OfficeCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].CustClasses)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustCode)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                        @if (!string.IsNullOrWhiteSpace(item.LandlineNo))
                        {
                            <span> | @Html.DisplayFor(modelItem => item.LandlineNo)</span>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OfficeCountry.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustClasses.Name)
                    </td>
                    <td>
                        <div class="d-flex">
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm me-2" title="Edit"><i class="fas fa-user-edit"></i></a>
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm me-2" title="Details"><i class="fas fa-user-tag"></i></a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-user-times"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.getElementById("preloader").style.display = "flex";

    $(document).ready(function () {
        $('#customerTable').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'copy',
                    className: 'btn btn-sm btn-outline-secondary',
                    exportOptions: { columns: ':not(:last-child)' }
                },
                {
                    extend: 'csv',
                    className: 'btn btn-sm btn-outline-success',
                    exportOptions: { columns: ':not(:last-child)' }
                },
                {
                    extend: 'excel',
                    className: 'btn btn-sm btn-outline-success',
                    exportOptions: { columns: ':not(:last-child)' }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    className: 'btn btn-sm btn-outline-danger',
                    exportOptions: { columns: ':not(:last-child)' }
                },
                {
                    extend: 'print',
                    className: 'btn btn-sm btn-outline-dark',
                    exportOptions: { columns: ':not(:last-child)' }
                }

            ],
            columnDefs: [
                { responsivePriority: 1, targets: 0 },  // CustCode (important)
                { responsivePriority: 2, targets: 1 },  // FirstName
                { responsivePriority: 3, targets: 2 },  // LastName
                { responsivePriority: 4, targets: 3 },  // Contact Numbers
                { responsivePriority: 5, targets: 4 },  // Province
                { responsivePriority: 6, targets: 5 },  // City
                { responsivePriority: 7, targets: 6 },  // OfficeCountry
                { responsivePriority: 8, targets: 7 },  // CustClasses
                { responsivePriority: 10001, targets: 8 } // Edit/Delete links - lowest priority
            ],
            initComplete: function () {
                // Hide the loader when DataTable finishes initializing
                document.getElementById("preloader").style.display = "none";
            }
        });
    });

    // Show loader on AJAX request
    $('#customerTable').on('preXhr.dt', function () {
        $('#preloader').show();
    });

    // Hide loader when data is loaded
    $('#customerTable').on('xhr.dt', function () {
        $('#preloader').hide();
    });
</script>