@page
@model NLI_POS.Pages.Inventory.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InventoryStock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStock.StockQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStock.StockQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStock.Products)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStock.Products.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStock.Office)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStock.Office.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InventoryStock.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
