@page
@model NLI_POS.Pages.Inventory.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventoryStock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStock.StockQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStock.StockQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStock.Products)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStock.Products.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStock.Office)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStock.Office.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InventoryStock.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
