@page
@model NLI_POS.Pages.Utilities.ProdutcTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.EncodeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.EncodeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.EncodedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.EncodedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.UpdatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductType.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
